.redPara{
  color:red;
  font-size:20px;
  font-family:sans-serif;
  text-transform: capitalize;
}

.bluePara{
  text-transform: lowercase;

}

.greenPara{
  text-transform: uppercase;
  position: absolute;
}

.whitePara{
  position: relative;top:500px
}

.p4{
  color:blue;
}

.div1{
  color: brown;
}

.box{
  margin-top: 40px;
  margin-right: 20%;
  margin-bottom: 40px;
  margin-left: 20%;
  border: black 3px solid;
  background-color: red;
  text-align: center;
}

body{
  background-color: pink;
}
