body{
  background-color: white;
}

.box1{
  border: dotted 3px purple;
  height: 200px;
}

.text{
text-align: center;
padding-top: 160px;
}

.text2{
color: green;
text-align: center;
}

.text3{
  color: orange ;
  font-size: 30px
}

.redText{
  color: red;
  vertical-align: super;
}

.yellowText{
  color: yellow;
}

.text4{
  color: purple;
  font-size: 10px;
  text-align: right;
}
